{{define "subject"}}Welcome to the MOVIEIN{{end}} {{define "plainBody"}} Hi,
Thanks for signing up for MOVIEIN account. We're excited to have you on board!
For future reference, your user ID number is {{.ID}}. Thanks, The MOVIEIN Team
{{end}} {{define "htmlBody"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
  </head>
  <body>
    <p>Hi,</p>
    <p>
      Thanks for signing up for MOVIEIN account. We're excited to have you on
      board!
    </p>
    <p>For future reference, your user ID number is {{.ID}}.</p>
    <p>Thanks,</p>
    <p>The MOVIEIN Team</p>
  </body>
</html>
{{end}}
